/*        -------------------       */
/*        ------- Init ------       */
/*        -------------------       */

@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;500;600;700&display=swap");

* {
  box-sizing: border-box;
}

body {
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  margin: 0;
  padding: 0 3%;
  min-width: 375px;
}

/*        -------------------       */
/*        ----- Desktop -----       */
/*        -------------------       */

@media screen and (min-width: 992px) {
  /* ----- Header ----- */
  header {
    padding: 0;
    margin: 0;
    height: 120px;
    display: flex;
    align-content: stretch;
  }

  .header_logo {
    width: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .header_logo img {
    width: 110px;
  }

  #header_menu {
    margin-left: auto;
    width: 350px;
    display: flex;
    justify-content: center;
    align-items: stretch;
  }

  .header_link {
    text-decoration: none;
    width: 400px;
    padding: 30px;
    font-size: 19px;
    border-top: none;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 2px solid #fff;
  }

  .header_link:hover {
    border-top: 2px solid #0065fc;
    color: #0065fc;
  }

  /* -- Search bar -- */

  /* Texte */

  .barre_recherches {
    font-weight: 100;
  }

  .barre_recherches p {
    margin: 5px;
  }

  .barre_recherches p:first-child {
    font-weight: 700;
    font-size: 23px;
  }

  .barre_recherches p:last-child {
    font-weight: 500;
    font-size: 18px;
  }

  /* Form */

  .barre_recherches-form {
    width: 44%;
    margin-top: 20px;
    display: flex;
    height: 55px;
  }

  .barre_recherches-form input[type="text"] {
    border: none;
    border-top: 2px solid #eee;
    border-bottom: 2px solid #eee;
    width: 280px;
    font-size: 20px;
    font-weight: 700;
    padding-left: 15px;
    padding-right: 15px;
  }

  .barre_recherches-form button[type="submit"] {
    font-size: 19px;
    font-weight: 700;
    background-color: #0065fc;
    color: #fff;
    border: none;
    width: 150px;
    border-radius: 0 15px 15px 0;
  }

  .barre_recherches-form button[type="submit"]:hover {
    cursor: pointer;
  }

  .barre_recherches-form button[type="submit"] img {
    display: none;
    width: 0px;
  }

  .barre_recherches-form button[type="submit"] h4 {
    display: inline;
  }

  .barre_recherches-img_container {
    background-color: #eee;
    padding: 10px;
    width: 60px;
    border-radius: 15px 0px 0px 15px;
    display: flex;
    align-content: center;
    justify-content: center;
  }

  .barre_recherches-form img {
    width: 15px;
  }

  /* Filtres */

  .filtres {
    /*width: 70%;*/
    margin-top: 40px;
    display: flex;
    align-content: center;
    align-items: center;
  }

  .filtres h4 {
    margin: 0 30px 0 0;
    font-size: 15px;
    font-weight: 700px;
  }

  /* Filter boxes */
  .filtre_box {
    height: 55px;
    margin-right: 25px;
    display: flex;
    flex-direction: row;
  }

  .filtre_image {
    width: 55px;
    height: 55px;
    background-color: #deebff;
    border-radius: 50px;
    z-index: 1;
    display: flex;
    align-content: center;
    justify-content: center;
  }

  .filtre_image img {
    padding: 15px;
  }

  .filtre_texte {
    margin: auto;
    height: 55px;
    margin-left: -25px;
    padding-left: 35px;
    border: 2px solid #ddd;
    border-radius: 0 50px 50px 0;
    display: flex;
    align-items: center;
  }

  /* Info text */
  .info-text {
    margin-top: 20px;
    display: flex;
    align-items: center;
    width: 600px;
  }

  .info-text p {
    margin-left: 10px;
    font-size: 18px;
  }

  .info-image {
    border: 1px solid #deebff;
    border-radius: 50px;
    width: 28px;
    height: 28px;
    display: flex;
    align-content: center;
    justify-content: center;
  }

  .info-image img {
    width: 5px;
  }

  /* --- Main Boxes --- */

  .container-box {
    padding: 10px 1.5%;
    margin-top: 15px;
    margin-bottom: 15px;
    background-color: #f2f2f2;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
  }

  .container-box h4 {
    font-size: 23px;
    width: 100%;
  }

  .container-box h5 {
    font-size: 18px;
    width: 100%;
    margin: 0;
    margin-bottom: 20px;
  }

  .container-box a {
    text-decoration: none;
    color: #000;
  }

  #box-hebergements {
    width: 67%;
  }

  #box-populaires {
    width: 30%;
  }

  .cards-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .card {
    width: calc((100% - 5%) / 3);
    margin-bottom: 40px;
    padding: 5px;
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 2px 2px 10px #0002;
  }

  .card-img_container {
    border-radius: 20px 20px 0 0;
    height: 150px;
    overflow: hidden;
    display: flex;
  }

  .card img {
    width: 100%;
    object-fit: cover;
  }

  .card-info {
    padding: 10px;
  }

  .card h4 {
    height: 10px;
    margin: 0 0 10px 0;
    font-size: 14px;
  }

  .card p {
    margin: 0 0 10px 0;
  }

  .card-stars img {
    width: 17px;
  }

  /* Populaires */
  .populaire-box_title {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
  }

  .populaire-box_title img {
    width: 25px;
    height: 25px;
  }

  .cards-populaire {
    flex-direction: column;
    height: 100%;
  }

  .cards-populaire .card {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: calc((100% - 20%) / 3);
  }

  .cards-populaire .card .card-img_container {
    border-radius: 20px 0 0 20px;
    height: 100%;
    width: 175px;
    margin-right: 10px;
  }

  .cards-populaire .card-info {
    display: flex;
    flex-direction: column;
  }

  .cards-populaire .card-info h4 {
    block-size: auto; /* USED THIS TO KEEP THE BLOCK HEIGHT BASED ON THE TEXT <br>*/
  }

  .cards-populaire .card .card-stars {
    margin-top: auto;
  }

  .cards-container:last-child {
    margin-bottom: 0;
  }

  /* Activités à Marseille */

  #activites {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    margin-bottom: 50px;
  }

  #activites h4 {
    margin-top: 60px;
    font-size: 25px;
  }

  .activite-cards {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: space-between;
    justify-content: space-between;
    height: 700px;
  }

  .activite-container {
    width: calc((100% - 150px) / 4);
    display: flex;
  }

  .container_double {
    flex-direction: column;
    justify-content: space-between;
  }

  .activite-box {
    border-radius: 20px;
    box-shadow: 0px 0px 8px #0003;
    font-size: 17px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
  }

  .container_double .activite-box {
    height: calc((100% - 50px) / 2);
  }

  .activite-image_container {
    height: 85%;
    overflow: hidden;
    display: flex;
  }

  .activite-image_container img {
    border-radius: 20px 20px 0 0;
    object-fit: cover;
    width: 100%;
  }

  .activite-box h5 {
    font-size: 22px;
    margin: 0;
    padding: 25px 0;
    margin: auto 0;
    margin-left: 25px;
  }

  /* Footer */

  footer {
    height: 210px;
    background-color: #f2f2f2;
    display: flex;
    padding: 20px 100px;
    margin: 0 -3%;
  }

  .footer-section {
    width: 33%;
  }

  .footer-section ul {
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: 14px;
  }

  .footer-section li {
    margin: 10px 0;
  }

  .footer-section a {
    text-decoration: none;
    color: #000;
  }
}

/*        -------------------       */
/*        ---- Tablettes ----       */
/*        -------------------       */

@media screen and (min-width: 768px) and (max-width: 992px) {
  body {
    margin: 0;
    padding: 0;
  }

  /* ----- Header ----- */
  header {
    margin: 0 0 0 3%;
    padding: 0;
    height: 120px;
    display: flex;
    align-content: stretch;
  }

  .header_logo {
    width: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .header_logo img {
    width: 110px;
  }

  #header_menu {
    margin-left: auto;
    width: 350px;
    display: flex;
    justify-content: center;
    align-items: stretch;
  }

  .header_link {
    text-decoration: none;
    width: 400px;
    padding: 30px;
    font-size: 19px;
    border-top: none;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 2px solid #fff;
  }

  .header_link:hover {
    border-top: 2px solid #0065fc;
    color: #0065fc;
  }

  /* -- Search bar -- */

  /* Texte */

  .barre_recherches {
    margin: 0 3%;
    font-weight: 100;
  }

  .barre_recherches p {
    margin: 5px;
  }

  .barre_recherches p:first-child {
    font-weight: 700;
    font-size: 19px;
  }

  .barre_recherches p:last-child {
    font-weight: 500;
    font-size: 17px;
  }

  /* Form */

  .barre_recherches-form {
    margin: 20px 0 0 3%;
    width: 20%;
    display: flex;
    height: 45px;
  }

  .barre_recherches-form input[type="text"] {
    border: none;
    border-top: 2px solid #eee;
    border-bottom: 2px solid #eee;
    width: 225px;
    font-size: 20px;
    font-weight: 700;
    padding-left: 15px;
    padding-right: 15px;
  }

  .barre_recherches-form button[type="submit"] {
    font-size: 14px;
    font-weight: 700;
    background-color: #0065fc;
    color: #fff;
    border: none;
    width: 150px;
    border-radius: 0 15px 15px 0;
  }

  .barre_recherches-form button[type="submit"]:hover {
    cursor: pointer;
  }

  .barre_recherches-form button[type="submit"] img {
    display: none;
    width: 0px;
  }

  .barre_recherches-form button[type="submit"] h4 {
    display: inline;
  }

  .barre_recherches-img_container {
    background-color: #eee;
    padding: 10px;
    width: 60px;
    border-radius: 15px 0px 0px 15px;
    display: flex;
    align-content: center;
    justify-content: center;
  }

  .barre_recherches-form img {
    width: 15px;
  }

  /* Filtres */

  .filtres {
    margin: 40px 3% 0 3%;
    display: flex;
    align-items: center;
  }

  .filtres h4 {
    margin: 0 15px 0 0;
    font-size: 15px;
    font-weight: 700px;
  }

  /* Filter boxes */
  .filtre_box {
    height: 40px;
    margin-right: 5px;
    display: flex;
    flex-direction: row;
  }

  .filtre_image {
    width: 40px;
    height: 40px;
    background-color: #deebff;
    border-radius: 50px;
    z-index: 1;
    display: flex;
    align-content: center;
    justify-content: center;
  }

  .filtre_image img {
    padding: 10px;
  }

  .filtre_texte {
    margin: auto;
    height: 40px;
    margin-left: -15px;
    padding-left: 35px;
    border: 2px solid #ddd;
    border-radius: 0 50px 50px 0;
    display: flex;
    align-items: center;
  }

  /* Info text */
  .info-text {
    margin: 20px 0 0 3%;
    display: flex;
    align-items: center;
    width: 600px;
  }

  .info-text p {
    margin-left: 10px;
    font-size: 16px;
  }

  .info-image {
    border: 1px solid #deebff;
    border-radius: 50px;
    width: 28px;
    height: 28px;
    display: flex;
    align-content: center;
    justify-content: center;
  }

  .info-image img {
    width: 5px;
  }

  /* --- Main Boxes --- */

  .container-box {
    padding: 10px 50px;
    margin-top: 15px;
    margin-bottom: 15px;
    background-color: #f2f2f2;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
  }

  .container-box h4 {
    font-size: 23px;
    width: 100%;
  }

  .container-box h5 {
    font-size: 18px;
    width: 100%;
    margin: 0;
    margin-bottom: 20px;
  }

  .container-box a {
    text-decoration: none;
    color: #000;
  }

  #box-hebergements {
    width: 100%;
  }

  #box-populaires {
    width: 100%;
  }

  .cards-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .card {
    width: calc((100% - 75px) / 3);
    margin-bottom: 40px;
    padding: 5px;
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 2px 2px 10px #0002;
  }

  .card-img_container {
    border-radius: 20px 20px 0 0;
    height: 150px;
    overflow: hidden;
    display: flex;
  }

  .card img {
    width: 100%;
    object-fit: cover;
  }

  .card-info {
    padding: 10px;
  }

  .card h4 {
    margin: 0 0 10px 0;
    font-size: 18px;
  }

  .card p {
    margin: 0 0 10px 0;
  }

  .card-stars img {
    width: 17px;
  }

  /* Populaires */
  .populaire-box_title {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
  }

  .populaire-box_title img {
    width: 25px;
    height: 25px;
  }

  .cards-populaire {
    flex-direction: column;
    height: 100%;
  }

  .cards-populaire .card {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: calc((100% - 20%) / 3);
  }

  .cards-populaire .card .card-img_container {
    border-radius: 20px 0 0 20px;
    height: 100%;
    width: 175px;
    margin-right: 10px;
  }

  .cards-populaire .card-info {
    display: flex;
    flex-direction: column;
  }

  .cards-populaire .card .card-stars {
    margin-top: auto;
  }

  /* Activités à Marseille */

  #activites {
    margin: 0 3%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    margin-bottom: 50px;
  }

  #activites h4 {
    margin-top: 20px;
    font-size: 25px;
  }

  .activite-cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 700px;
  }

  .activite-container {
    width: 32%;
    height: 300px;
    display: flex;
  }

  .activite-box {
    width: 100%;
    border-radius: 20px;
    box-shadow: 0px 0px 8px #0003;
    font-size: 17px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
  }

  .activite-image_container {
    width: 100%;
    height: 85%;
    overflow: hidden;
    display: flex;
  }

  .activite-image_container img {
    border-radius: 20px 20px 0 0;
    object-fit: cover;
    width: 100%;
  }

  .activite-box h5 {
    font-size: 17px;
    margin: 0;
    padding: 25px 0;
    margin: auto 0;
    margin-left: 25px;
  }

  /* Footer */

  footer {
    height: 210px;
    background-color: #f2f2f2;
    display: flex;
    justify-content: space-around;
  }

  .footer-section {
    margin-top: 25px;
    width: 20%;
  }

  .footer-section ul {
    list-style: none;
    padding: 0;
    font-size: 14px;
  }

  .footer-section li {
    margin: 10px 0;
  }

  .footer-section a {
    text-decoration: none;
    color: #000;
  }
}

/*        -------------------       */
/*        ----- Mobile -----        */
/*        -------------------       */

@media screen and (max-width: 768px) {
  body {
    margin: 0;
    padding: 0;
  }

  /* ----- Header ----- */
  header {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
  }

  .header_logo {
    align-self: center;
    justify-content: center;
    padding: 25px;
  }

  .header_logo img {
    width: 150px;
    content: url("../images/Booki@3x.png");
  }

  #header_menu {
    display: flex;
    justify-content: center;
  }

  .header_link {
    width: 50%;
    text-align: center;
    text-decoration: none;
    font-family: "Raleway", sans-serif;
    font-size: 19px;
    border-top: none;
    padding: 15px;
    color: black;
    border-bottom: 3px solid #eee;
  }

  .header_link:hover {
    border-bottom: 3px solid #0065fc;
    color: #0065fc;
  }

  /* Search bar */
  .barre_recherches {
    padding: 0 5%;
    margin-top: 25px;
    font-weight: 100;
  }

  .barre_recherches p:first-child {
    font-weight: 700;
    font-size: 20px;
  }

  .barre_recherches p:last-child {
    font-weight: 500;
    font-size: 15px;
    margin-bottom: 30px;
  }

  /* Form */

  .barre_recherches-form {
    padding: 0;
    margin: 0 5%;
    display: flex;
    height: 65px;
  }

  .barre_recherches-form input[type="text"] {
    border: none;
    border-top: 2px solid #eee;
    border-bottom: 2px solid #eee;
    font-weight: 700;
    padding-left: 15px;
    padding-right: 15px;
    flex-grow: 1;
  }

  .barre_recherches-form button[type="submit"] {
    font-size: 19px;
    font-weight: 700;
    background-color: #0065fc;
    color: #fff;
    border: none;
    width: 65px;
    border-radius: 15px 15px 15px 15px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .barre_recherches-form button[type="submit"] img {
    display: inline;
    width: 22.5px;
  }

  .barre_recherches-form button[type="submit"] h4 {
    display: none;
  }

  .barre_recherches-form button[type="submit"]:hover {
    cursor: pointer;
  }

  .barre_recherches-img_container {
    background-color: #eee;
    padding: 10px;
    width: 65px;
    border-radius: 15px 0px 0px 15px;
    display: flex;
    align-content: center;
    justify-content: center;
  }

  .barre_recherches-form img {
    width: 15px;
  }

  /* Filtres */

  .filtres {
    padding: 0 5%;
    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
  }

  .filtres h4 {
    width: 100%;
    margin: 0 30px 20px 0;
    font-size: 18px;
    font-weight: 700px;
  }

  /* Filter boxes */
  .filtre_box {
    height: 55px;
    margin-right: 10px;
    margin-bottom: 15px;
    display: flex;
    flex-direction: row;
  }

  .filtre_image {
    width: 55px;
    height: 55px;
    background-color: #deebff;
    border-radius: 50px;
    z-index: 1;
    display: flex;
    align-content: center;
    justify-content: center;
  }

  .filtre_image img {
    padding: 15px;
  }

  .filtre_texte {
    margin: auto;
    height: 55px;
    margin-left: -30px;
    padding-left: 40px;
    border: 2px solid #ddd;
    border-radius: 0 50px 50px 0;
    display: flex;
    align-items: center;
  }

  .filtre_texte h4 {
    padding: 0;
    margin-right: 15px;
    margin-top: auto;
    margin-bottom: auto;
    font-size: 15px;
  }

  /* Info text */
  .info-text {
    padding: 0 5%;
    margin-top: 20px;
    display: flex;
    align-items: center;
    width: 100%;
  }

  .info-text p {
    margin-left: 10px;
    font-size: 15px;
    width: 100%;
  }

  .info-image {
    border: 1px solid #deebff;
    border-radius: 50px;
    width: 28px;
    height: 28px;
    display: flex;
    align-content: center;
    justify-content: center;
  }

  .info-image img {
    width: 5px;
  }

  /* --- Main Boxes --- */

  .container-box {
    padding: 10px 5%;
    margin-top: 0px;
    margin-bottom: 15px;
    background-color: #f2f2f2;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
  }

  .container-box h4 {
    font-size: 20px;
    width: 100%;
    height: 15px;
  }

  .container-box h5 {
    font-size: 18px;
    width: 100%;
    margin: 0;
    margin-bottom: 20px;
  }

  .container-box a {
    text-decoration: none;
    color: #000;
  }

  #box-hebergements {
    width: 100%;
    background-color: #fff;
  }

  #box-populaires {
    width: 100%;
  }

  .cards-container {
    display: flex;
    flex-direction: column-reverse;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  #box-hebergements .cards-container {
    flex-direction: column;
  }

  .card {
    width: 100%;
    margin-bottom: 40px;
    padding: 5px;
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 2px 2px 10px #0002;
  }

  .card-img_container {
    border-radius: 20px 20px 0 0;
    height: 125px;
    overflow: hidden;
    display: flex;
  }

  .card img {
    width: 100%;
    object-fit: cover;
  }

  .card-info {
    padding: 10px;
  }

  .card h4 {
    margin: 0 0 5px 0;
    font-size: 15px;
  }

  .card p {
    margin: 0 0 5px 0;
    font-size: 13px;
  }

  .card-stars img {
    width: 17px;
  }

  /* Populaires */
  .populaire-box_title {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
  }

  .populaire-box_title img {
    width: 25px;
    height: 25px;
  }

  .cards-populaire {
    flex-direction: column;
  }

  .cards-populaire .card {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 150px;
  }

  .cards-populaire .card .card-img_container {
    border-radius: 20px 0 0 20px;
    height: 100%;
    width: 125px;
    margin-right: 10px;
  }

  .cards-populaire .card-info {
    display: flex;
    flex-direction: column;
  }

  .cards-populaire .card-info h4 {
    block-size: auto; /* USED THIS TO KEEP THE BLOCK HEIGHT BASED ON THE TEXT <br>*/
  }

  .cards-populaire .card .card-stars {
    margin-top: auto;
  }

  /* Activités à Marseille */

  #activites {
    margin: 0 7%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    margin-bottom: 50px;
  }

  #activites h4 {
    margin-top: 10px;
    font-size: 17px;
  }

  .activite-cards {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: space-between;
    justify-content: space-between;
  }

  .activite-container {
    width: 100%;
    height: 200px;
    margin-bottom: 35px;
    display: flex;
  }

  .activite-box {
    border-radius: 20px;
    box-shadow: 0px 0px 8px #0003;
    font-size: 17px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
  }

  .activite-image_container {
    height: 85%;
    overflow: hidden;
    display: flex;
  }

  .activite-image_container img {
    border-radius: 20px 20px 0 0;
    object-fit: cover;
    width: 100%;
  }

  .activite-box h5 {
    font-size: 15px;
    margin: 0;
    padding: 25px 0;
    margin: auto 0;
    margin-left: 25px;
  }

  /* Footer */

  footer {
    background-color: #f2f2f2;
    display: flex;
    flex-direction: column;
  }

  footer h4 {
    font-size: 16px;
  }

  .footer-section {
    margin: 0 7%;
  }

  .footer-section ul {
    list-style: none;
    margin: 0;
    margin-bottom: 30px;
    padding: 0;
    font-size: 14px;
  }

  .footer-section li {
    margin: 10px 0;
  }

  .footer-section a {
    text-decoration: none;
    color: #000;
  }
}
